*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(37, 37, 37);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#container{
  height: 100vh;
  width: 100%;
  background-color: rgb(45, 45, 45);
}

#title{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 63px;
  text-align: center;
  position: relative;
  top: 14%;
  letter-spacing: 5px;
}

form{
  height: 100%;
  width: 100%;
  display: block;
  justify-content: center;
}

.inputBox{
  width: 20%;
  height: 5%;
  position: relative;
  text-align: center;
}

.inputBox, span{
  font-size: 28px;
  color: white;
}

.about{
  width: 20%;
  height: 20%;
  position: relative;
  bottom: 65%;
  left: 120%;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}

.error{
  width: 20%;
  height: 20%;
  position: relative;
  bottom: 65%;
  right: 130%;
  color: red;
  font-family: 'Slabo 27px', serif;
  font-size: 21px;
  opacity: 0;
  transition: .5s ease-in;
}

.messageError{
  color: red;
  font-family: 'Slabo 27px', serif;
  opacity: 0;
  transition: .5s ease-in;
}

input{
  background-color: rgb(50, 50, 50);
  width: 100%;
  height: 70%;
  border-color: rgb(20, 64, 179);
  color: white;
  font-size: 16px;
  position: relative;
  bottom: 45%;
}

input:focus{
  background-color: white;
  color: black;
}

#nameBox{
  top: 13%;
}

#emailBox{
  top: 17%;
}

#reasonBox{
  top: 21%;
}

#reason{
  background-color: rgb(50, 50, 50);
  width: 100%;
  height: 70%;
  border-color: rgb(20, 64, 179);
  color: white;
  font-size: 16px;
  position: relative;
  bottom: 45%;
}

#reason:focus{
  background-color: white;
  color: black;
}

#messageBox{
  top: 25%;
  width: 40%;
  height: 30%;
}

#messageLabel{
  width: 100%;
}

#t1{
  cursor: pointer;
}

.requiredDot{
  color: red;
  transition: .5s ease-in;
}

abbr:hover::after{
  background-color: yellow;
}

textarea{
  width: 100%;
  height: 70%;
  font-size: 16px;
  background-color: rgb(50, 50, 50);
  border-color: rgb(20, 64, 179);
  color: white;
}

textarea:focus{
  background-color: white;
  color: black;
}

#buttonBox{
  position: relative;
  top: 25%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  height: 75%;
  width: 10%;
  background-color: rgb(50, 50, 50);
  border-color: rgb(20, 64, 179);
  color: white;
}

@media screen and (max-width: 1700px){
  .inputBox{
    width: 27%;
  }

  button{
    width: 15%;
  }
}

@media screen and (max-width: 1300px){
  .inputBox{
    width: 35%;
  }

  #messageBox{
    width: 60%;
  }

  button{
    width: 20%;
  }
}

@media screen and (max-width: 998px){
  #messageBox{
    width: 75%;
  }

  .inputBox{
    width: 65%;
  }
}