*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(37, 37, 37);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(45, 45, 45);
}

.container-fluid{
  height: 100vh;
}

#headerBox{
  height: 50vh;
  width: 100%;
}

#headerTitle{
  height: 80%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 124px;
  color: white;
  vertical-align: bottom;
  font-family: 'Bitter', sans-serif;
  position: relative;
  letter-spacing: 10px;
  word-spacing: 15px;
  text-transform: uppercase;
  text-align: center;
}

#headerSub{
  height: 20%;
  width: 100%;
  font-size: 45px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  letter-spacing: 5px;
  word-spacing: 14px;
  cursor: default;
  font-family: 'Open Sans Condensed', sans-serif;
  transition: .3s ease-in;
  color: rgb(136, 136, 136);
  opacity: 0;
  transition: 1.5s ease-in;
}

.subWord{
  margin: 10px;
  margin-top: 0;
  transform: scale(1);
  transition: .4s ease-in;
}

.subWord:hover{
  margin-left: 60px;
  margin-right: 60px;
  transform: scale(1.3);
  color: rgb(20, 64, 179);
}

#aboutBox{
  height: 50%;
  width: 100%;
}

#indexNavButtonList{
  list-style: none;
  font-size: 30px;
}

#indexNavButtonList li{
  width: 20%;
  border: solid rgb(20, 64, 179);
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

#indexNavButton{
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.aboutButtonBox{
  position: relative;
  bottom: 0%;
  height: 35%;
  width: 100%;
  opacity: 0;
  transition: bottom 0s, opacity 1.5s ease-in;
}

#aboutButton{
  color: white;
  transition: .3s ease-in;
  text-align: center;
  font-size: 25px;
  width: 20%;
  cursor: pointer;
  position: relative;
  top: 15%;
}

#aboutButton:hover{
  color: rgb(20, 64, 179);
}

#dotActive{
  height: 3px;
  width: 100px;
  border-radius: 5%;
  background-color: rgb(20, 64, 179);
  position: relative;
  top: 2 76800%;
  transition: .7s ease-in;
}

#aboutDot{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  top: 15%;
  background-color: rgb(20, 64, 179);
  transition: 1s ease-in;
}

#textBox{
  height: 10%;
  width: 100%;
}

#aboutText{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: white;
  opacity: 0;
  text-align: center;
  transition: .1s ease-in;
}

@media screen and (max-width: 1500px){
  #headerTitle{
    font-size: 95px;
  }

  #aboutButton{
    width: 25%;
  }
}

@media screen and (max-width: 1210px){
  #headerTitle{
    font-size: 72px;
  }

  #aboutButton{
    width: 27%;
  }

  #headerSub{
    font-size: 40px;
  }
}

@media screen and (max-width: 992px){
  #headerTitle{
    font-size: 50px;
  }

  #aboutButton{
    width: 35%;
  }

  #headerSub{
    font-size: 35px;
  }
}

@media screen and (max-width: 768px){
  #aboutButton{
    width: 50%;
  }

  #headerSub{
    font-size: 25px;
  }
}

@media screen and (max-width: 586px){
  #headerTitle{
    font-size: 42px;
  }

  #aboutButton{
    width: 75%;
  }

  #aboutText{
    font-size: 17px;
  }

  #headerSub{
    font-size: 15px;
  }
}

@media screen and (max-width: 445px){
  #headerTitle{
    font-size: 29px;
  }

  #headerSub{
    font-size: 14px;
  }

  .subword{
    margin: 4px;
  }

  #indexNavButton{
    font-size: 25px;
  }
}