:root{
  --navBackground: transparent;
  --navTextColor: white;
  --navLinkHighlightTextColor: rgb(20, 64, 179);
}

.navbar{
  background-color: var(--navBackground);
  transition: all .3s ease-in;
}

.navbar-brand{
  font-size: 25px;
  margin-left: 25px;
  color: var(--navTextColor);
}

.navbar-brand:hover{
  color: var(--navLinkHighlightTextColor);
}

.navbar-nav{
  margin: 0;
}

.navbar-collapse{
  justify-content: flex-end;
}

.nav-item{
  margin-left: 0;
}

.navbar-nav .nav-link{
  color: var(--navTextColor);
  font-size: 20px;
  margin-left: 25px;
  transition: all .3s ease-in;
}

.navbar-nav .nav-link:hover{
  color: var(--navLinkHighlightTextColor);
}

@media screen and (max-width: 768px){
  :root{
    --navBackground: white;
    --navTextColor: black;
  }

  .navbar-toggler{
    background: grey;
  }
}