:root{
  --defaultTabWidth: 65%;
}

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(37, 37, 37);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes bounceIn{
  0%{
      transform: scale(0.1);
      opacity: 0;
  }
  60%{
      transform: scale(1.2);
      opacity: 1;
  }
  100%{
      transform: scale(1);
  }
}

#bodyBox{
  width: 100%;
  height: 175vh;
  background-color: rgb(45, 45, 45);
  overflow: hidden;
}

#headerBox{
  height: 15%;
  width: 100%;
}

#headerTitle{
  height: 80%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Bitter', sans-serif;
  font-size: 63px;
  color: white;
}

#headerSub{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  color: white;
}

#headerSubLink{
  margin-right: 0;
  margin-left: .5%;
  color: white;
  transition: .5s ease;
  text-decoration: underline;
}

#headerSubLink:hover{
  color: rgb(20, 64, 179);
}

#tabBox{
  margin: 0;
  margin-top: 35px;
  height: 10%;
  width: 100%;
  color: white;
  list-style: none;
}

.tab{
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.tab p{
  width: var(--defaultTabWidth);
  font-size: 30px;
  text-align: center;
  border: solid rgb(20, 64, 179);
  transition: .2s ease-in;
  cursor: pointer;
}

#showcaseBox{
  height: 74%;
  width: 300%;
  position: relative;
  left: -100%;
  transition: 1.5s ease-in;
  justify-content: space-around;
}

.showcaseSectionBox{
  display: inline-block;
  height: 100%;
  width: 33%;
  position: relative;
  left: 6px;
  padding: 0;
}

.showcaseSectionDisplayRow{
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

.showcaseSectionDisplayRow li{
  background-color: rgb(40, 40, 40);
  border: solid rgb(10, 10, 10);
}

.showcaseSectionDisplayRow li:hover{
  background-color: rgb(35, 35, 35);
}

.viewImageBox{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewImage{
  height: 70%;
  width: 40%;
}

.viewButtonBox{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewButton{
  height: 50%;
  width: 50%;
  color: white;
  font-size: 20px;
  background-color: rgb(40, 40, 40);
  border: solid rgb(20, 64, 179);
  cursor: pointer;
}

.viewButton:hover{
  background-color: rgb(45, 45, 45);
}

.bioBox{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
}

.bio{
  height: 60%;
  width: 80%;
  opacity: 0;
  justify-content: center;
}

.bioImageBox{
  background-color: rgb(40, 40, 40);
  border: solid rgb(10, 10, 10);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bioImage{
  height: 45%;
  width: 70%;
}

.bioInfoBox{
  background-color: rgb(35, 35, 35);
  border: solid rgb(10, 10, 10);
  margin: 0;
}

.bioInfoHeaderBox{
  height: 20%;
  width: 100%;
  justify-content: space-around;
}

.bioInfoHeaderExit{
  height: 50%;
  width: 10%;
  float: right;
  text-align: center;
  font-family: '', sans-serif;
  font-size: 50px;
  color: white;
  transition: .5s ease;
  cursor: pointer;
}

.bioInfoHeaderExit:hover{
  color: red;
}

.bioInfoHeaderTitle{
  position: absolute;
  left: 5%;
  color: white;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 45px;
}

.bioInfoHeaderName{
  position: absolute;
  top: 5%;
  left: 6%;
  color: white;
  font-family: 'Open Sans Condensed', cursive;
  font-size: 65px;
}

.bioInfoDescriptionsBox{
  height: 30%;
  width: 100%;
}

.bioInfoDescriptionSectionBox{
  height: 33.3%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.description{
  display: inline-block;
  width: 17%;
  color: white;
  font-size: 16px;
}

.bioInfoAbout{
  height: 30%;
  width: 95%;
  color: white;
  font-size: 20px;
  overflow-y: scroll;
}

.bioInfoButtonsBox{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bioButton{
  height: 27%;
  width: 25%;
  background-color: rgb(40, 40, 40);
  border: solid rgb(20, 64, 179);
  color: white;
  font-size: 18px;
}

.visit, .source{
  cursor: pointer;
  text-align: center;
}

.visit, .source:hover{
  background-color: rgb(55, 55, 55); 
}

.disabled{
  opacity: 50%;
  text-decoration: line-through; 
}

@media screen and (max-width: 1200px){
  #bodyBox{
    height: 200vh;
  }

  .bio{
    width: 95%;
  }
}

@media screen and (max-width: 992px){
  #showcaseBox{
    height: 70%;
  }

  .bio{
    height: 100%;
    width: 100%;
  }

  .bioImageBox{
    height: 50%;
  }

  .bioInfoBox{
    height: 50%;
  }
}

@media screen and (max-width: 768px){
  .showcaseSectionBox{
    left: 6px;
  }
}

@media screen and (max-width: 590px){
  #headerTitle{
    font-size: 41px;
  }

  #headerSub{
    font-size: 19px;
  }

  .bioInfoHeaderTitle{
    font-size: 40px;
  }

  .bioInfoHeaderName{
    font-size: 45px;
  }

  .description{
    font-size: 12px;
  }

  .bioButton{
    width: 40%;
  }
}