#directory for node js modules
node_modules/

#file for db connection (sensitive info)
connection.js

#personal files
other/
package-lock.json

#file that holds mailer api key (sensitive info)
sendgrid.env